/** GENERAL SECTION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

/** HANDLE OVERLAY */
.overlay {
  margin: -20px 0 0 -20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #484848;
  opacity: 0.5;
}

.none {
  display: none;
}
